body {
    background-image: url("background2.jpg");
    background-size: cover;
}
.carousel-inner{
width: 500px;
    height: 550px
}
main{
    text-align: center;
    margin-top: 10px;
}
.card-img-top{
width: 400px;
    height: 150px;
}
.card{
    margin-top: 100px;
}
